/*---VARIABLES---*/
@import "./utils/variables";
/*---MIXINS---*/
@import "./utils/mixins";
/*---HEADER---*/
@import "./layout/header";
/*---FOOTER---*/
@import "./layout/footer";
/*---TYPO---*/
@import "./base/typography";
/*---BASE---*/
@import "./base/base";
/*---PLACE---*/
.sec-place{
    background-color:#eaeaea ;
    padding: 1rem;
    &__div{
        display: flex;
        justify-content: center;
    }
    &__div p{
        font-weight:bold;
        margin: 0 1rem;
    }
}
/*---EXPLORE---*/
.sec-explore{
    background-color: $lightgrey;
    display: flex;
    justify-content: center;
    &__div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        height:180px;
        width: 90%;
        padding: 2rem 0 3rem 0;
    }

   &__div h2{
        text-align: center;
    }
    &__div p{
        text-align: center;
        color:#353535;
    }
}
.purple-button{
    @include shadow(.3);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(0deg,$primary 0%, $secondary 100%);
    padding: 1rem 1.5rem;
}
/*---FONCTIONNEMENT---*/
.sec-fonction{
    display: flex;
    justify-content: center;
    &__ol{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 340px;
        width: 90%;
        margin: 0;
        padding:4rem 0 5rem;
    }
    &__ol li{
        @include shadow(.3);
        list-style: none;
        counter-increment: my-awesome-counter;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 1.2rem;
        background-color: $lightgrey ;
        width: 100%;
        padding: 1.5rem 1rem;
        margin: 0 0 0 .875rem;
    }
    &__ol li::before {
        display: inline-block;
        position: relative;
        left: -1.75rem;
        content: counter(my-awesome-counter);
        background-color: $primary;
        border-radius: 1rem;
        color: white;
        font-size: .8rem;
        text-align: center;
        line-height: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    &__ol i{
        padding: 0 1.75rem 0 0;
        font-size: 1.2rem;
        color: #7e7e7e;
    }
}
/*---RESTAURANTS---*/

.sec-rest{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    background-color: $lightgrey;
    padding: 3rem 0;
    &__grid-container{
        width: 90%;
        height: fit-content;
    }
    h2{
        text-align: left;
        width: 90%;
    }
}
.link-resto{
    @include shadow(.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem 0;
    height: 250px;
    &__new{
        position: absolute;
        background-color: $tertiary;
        color: darken($color: $tertiary, $amount:50);
        border-radius:.2rem;
        right: 5%;
        margin: 1rem 1rem 0 0;
        padding: .3rem 1rem;

    }
    img {
        border-radius: 1rem 1rem 0 0;
        height: 70%;
        object-fit: cover;
    }
    &__description{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
        height: 30%;
        div{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
        }
    }
}
/*---HEART---*/
i{
    font-size: 1.5rem;
}
.fas.fa-heart{
    color: rgba(255, 255, 255, 0);
}
.far{
    position: relative;
    left: 1.5rem;
    z-index: 1;
    color: rgb(0, 0, 0);
}
.far:hover{
    color: rgba(0,0,0,0);
}
.far:hover+.fas{
    color: #9c47fc;
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*---FOOTER---*/

/*---La-PALETTE-DU-GOUT---*/

/*---THUMBNAIL---*/
.thumbnail{
    height: 250px;
    object-fit: cover;
}
/*---HEART---*/
.heart-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---Menu---*/
.sec-menu{
    position: relative;
    z-index: 1;
    background-color: $lightgrey;
    border-radius:3rem 3rem 0 0;
    margin: -3rem 0 0 0;
    padding: 3rem 0 0 0;
    &__header{
        display: flex;
        @include centered90();
    }
    &__main{
        @include centered90();

    }
    &__footer{
        @include centered90();
    }
}
.menu-titre{
    font-weight: 100;
    text-decoration: underline;
    text-decoration-color: $tertiary;
    text-underline-offset: 0.2rem;
    text-underline-position: under;
    text-decoration-thickness: 0.2rem;
    margin: 1.5rem 0;
}
/*---CARTES---*/
.menu-item{
    @include shadow(.1);
    display: flex;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem 0;
    height: 75px;
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
        height: 100%;
    }
    &__check{
        height: 100%;
        width: 0%;
        background-color: $tertiary;
    }
    .fa-check-circle{
        font-size: 0rem;
    }
}
.menu-item:hover{
    justify-content: space-around;
    .menu-item__content{
        padding: 0 1rem;
    }
    .menu-item__check{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        border-radius: 0 1rem 1rem 0;
    }
    .fa-check-circle{
        color: white;
        font-size: 1.5rem;
    }
}
.menu-food{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-prix{
    font-weight: bold;
}
/*---COMMANDER/FOOTER---*/
.sec-menu__footer{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    .purple-button{
        padding: 1rem 3rem;
    }
}