/*---VARIABLES---*/
@import "./utils/variables";
/*---MIXINS---*/
@import "./utils/mixins";
/*---HEADER---*/
@import "./layout/header";
/*---FOOTER---*/
@import "./layout/footer";
/*---TYPO---*/
@import "./base/typography";
/*---BASE---*/
@import "./base/base";
/*---ANIMS---*/
@import "./base/animations";
/*---LOADER---*/
.loader {
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    animation:fadeout 3s ;
    animation-fill-mode: both;
    div{
        width: 250px;
        height: 250px;
        margin: auto auto;
        background-color: white;
        box-shadow:inset 0rem -.5em .0rem .5rem $primary;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }

  }
/*---PLACE---*/
.sec-place{
    background-color:#eaeaea ;
    padding: 1rem;
    &__div{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__div h2{
        color: $darkgrey;
        font-size: 1rem;
        font-weight:bold;
        margin: 0 1rem;
    }
}
/*---EXPLORE---*/
.sec-explore{
    background-color: $lightgrey;
    display: flex;
    justify-content: center;
    &__div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        height:180px;
        width: 90%;
        padding: 2rem 0 3rem 0;
    }

   &__div h2{
        text-align: center;
    }
    &__div p{
        text-align: center;
        color:#353535;
    }
}
.purple-button{
    @include shadow(.3);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(0deg,$primary 0%, $secondary 100%);
    padding: 1rem 1.5rem;
    transition:box-shadow .25s, filter .25s;

}
.purple-button:hover{
    filter: brightness(1.1);
    @include shadow(.6);
}
/*---FONCTIONNEMENT---*/
.sec-fonction{
    display: flex;
    justify-content: center;
    &__ol{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 340px;
        width: 90%;
        margin: 0;
        padding:4rem 0 5rem;
    }
    &__ol li{
        list-style: none;
    }
    &__ol h2{
        margin: 0 0 0 .75rem;
    }
    &__ol .fonc-carte{
        @include shadow(.3);
        counter-increment: my-awesome-counter;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 1.2rem;
        background-color: $lightgrey ;
        width: 100%;
        padding: 1.5rem 1rem;
        margin: 0 0 0 .875rem;
    }
    &__ol .fonc-carte::before {
        display: inline-block;
        position: relative;
        left: -1.75rem;
        content: counter(my-awesome-counter);
        background-color: $primary;
        border-radius: 1rem;
        color: white;
        font-size: .8rem;
        text-align: center;
        line-height: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    &__ol i{
        padding: 0 1.75rem 0 0;
        font-size: 1.2rem;
        color: #7e7e7e;
    }
}
/*---RESTAURANTS---*/

.sec-rest{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    background-color: $lightgrey;
    padding: 2rem 0 3rem 0;
    h2{

        text-align: left;
        width: 90%;
        margin: 1rem 0;
    }
    &__grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:1rem 0 ;
        width: 90%;
        height: fit-content;
    }

}
.link-resto{
    @include shadow(.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: white;
    border-radius: 1rem;
    height: 250px;
    &__new{
        position: absolute;
        background-color: $tertiary;
        color: darken($color: $tertiary, $amount:50);
        border-radius:.2rem;
        margin: 1rem 1rem 0 0;
        padding: .3rem 1rem;

    }
    img {
        border-radius: 1rem 1rem 0 0;
        height: 70%;
        object-fit: cover;
    }
    &__description{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 90%;
        height: 30%;
        div{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
        }
    }
}
/*---HEART---*/
i{
    font-size: 1.5rem;
}
.fas.fa-heart{
    color: #9c47fc;
    opacity: 0;
    transition:opacity .25s;
}
.far{
    color: rgb(0, 0, 0);
    transition:color .25s;
    position: relative;
    left: 1.5rem;
    z-index: 1;
}
.far:hover{
    color: rgba(0,0,0,0);

}
.far:hover+.fas{
    opacity: 1;
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*---FOOTER---*/

/*---MENU PAGE---*/

/*---THUMBNAIL---*/
.thumbnail{
    height: 250px;
    object-fit: cover;
}
/*---HEART---*/
.heart-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---Menu---*/

.sec-menu{
    position: relative;
    z-index: 1;
    background-color: $lightgrey;
    border-radius:3rem 3rem 0 0;
    margin: -3rem 0 0 0;
    padding: 3rem 0 0 0;
    &__header{
        display: flex;
        @include centered90();
        animation:fade 1s;
    }
    &__main{
        @include centered90();

    }
    &__footer{
        @include centered90();
        animation:fade 1s;
    }
}
.menu-titre{
    font-weight: 100;
    text-decoration: underline;
    text-decoration-color: $tertiary;
    text-underline-offset: 0.2rem;
    text-underline-position: under;
    text-decoration-thickness: 0.2rem;
    margin: 1.5rem 0;
}
/*---CARTES---*/

.entrees{
    animation:fadeup .5s;
}
.plats{
    animation:fadeup .5s;
    animation-fill-mode:both;
    animation-delay: .125s;

}
.desserts{
    animation:fadeup .5s;
    animation-fill-mode:both;
    animation-delay: .25s;
}
.menu-item{
    @include shadow(.1);
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-radius: 1rem;
    margin: 1rem 0;
    height: 75px;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition:.25s;
        padding: 0 1rem;
        width: 90%;
        height: 100%;
    }
    &__check{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 0%;
        transition:.5s;
        background-color: $tertiary;

    }
    .fa-check-circle{
        font-size: 1.5rem;
        color: white;
        opacity: 0;
        font-size: 0rem;
        transition:.5s;

    }
}



.menu-item:hover{
    justify-content: space-between;
    .menu-item__content{
        padding: 0 1rem;
        width: 75%;
    }
    .menu-item__check{
        width: 5rem;
        border-radius: 0 1rem 1rem 0;

    }
    .fa-check-circle{
        opacity: 1;
        font-size: 1.5rem;
    }
}
.menu-food{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow:hidden;

    p,h4{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.menu-prix{
    font-weight: bold;
        margin: 0 0 0 0.5rem;
}

/*------MEDIAQUERIES------*/
/*---TABLET---*/
@media (min-width:768px){
    .sec-explore__div{
        height:120px;
        width: 90%;
        padding: 2rem 0 3rem 0;
        h2{
            text-align: center;
            width: 100%;
        }
        p{
            width: 100%;
        }
    }
    .sec-fonction__ol{

        justify-content: space-around;
        height: 230px;
        .fonc-titre{
            width: 100%;
        }
        .fonc-carte{
            width: 44%;
        }
    }
    .sec-rest{
        &__grid-container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap:1rem;
        }

    }
}
@media (min-width:1024px){
    .sec-fonction__ol{
        justify-content: space-around;
        height: 125px;
        .fonc-carte{
            width: 27%;
        }
    }
    .sec-rest{
        &__grid-container{
            grid-template-columns: repeat(3,1fr);
        }
    }
    @media (min-width:1440px){
        .sec-fonction__ol{
            padding: 2rem 0 3rem;
            .fonc-carte{
                width: 29%;
            }
        }
        .sec-rest{
            &__grid-container{
                grid-template-columns: repeat(4,1fr);
            }
        }
    }
}
/*---RESTAURANT-PAGES---*/
/*---TABLET---*/
@media (min-width:768px){
    .sec-item-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        h3{
            margin: 2rem 0 .5rem .5rem;
            width: 100%;
        }
    }
    .menu-item{
        margin: .5rem 0;
        width: 48%;
    }
}
@media (min-width:1024px){
    .sec-menu__main{
        display: flex;
        justify-content: space-between;
    }
    .sec-item-container{
        width: 32%;
        justify-content: space-around;
        h3{
            margin: 2rem 0 .5rem .5rem;
            width: 100%;
        }
    }
    .menu-item{
        margin: .5rem 0;
        width: 100%;
    }
}