footer{
    background-color: $darkgrey;
    display: flex;
    justify-content: center;
}
.footer-list{
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 150px;
    width: 90%;
    padding: 2rem 0;
    h4{
        margin:0 0 1rem 0;
    }
    li{
        list-style: none;
        width: 90%;
    }
    i{
        font-size: 1rem;
        margin: 0 1rem 0 0;
    }
    a{
        color: white;
    }
}/*---COMMANDER/FOOTER---*/
.sec-menu__footer{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    .purple-button{
        padding: 1rem 3rem;
    }
}
/*---MEDIA QUERIES---*/
@media (min-width:768px){
    .footer-list{
        .footer-title{
            width: 100%;
        }
        li{
            width: 40%;
        }

    }
}
@media (min-width:1024px){
    .footer-list{
        height: 80px;
        .footer-title{
            width: 100%;
        }
        li{
            width: 25%;
        }

    }
}
@media (min-width:1440px){
    .footer-list{
        li{
            width: 20%;
        }

    }
}