footer{
    background-color: $darkgrey;
    display: flex;
    justify-content: center;
}
.footer-list{
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 150px;
    width: 90%;
    padding: 2rem 0;
    h4{
        margin:0 0 1rem 0;
    }
    li{
        list-style: none;
        width: 90%;
    }
    i{
        font-size: 1rem;
        margin: 0 1rem 0 0;
    }
}