/*---VARIABLES---*/
/*---MIXINS---*/
/*---HEADER---*/
header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.2rem 0.5rem 0rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.2rem 0.5rem 0rem;
  padding: .5rem 0;
  position: relative;
}

h1 {
  font-size: 1.9rem;
  color: black;
  text-align: center;
}

/*---LA-PALETTE-DU-GOUT---*/
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header-container .fa-arrow-retour {
  margin: 0 4rem 0 0;
}

/*---FOOTER---*/
footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  height: 150px;
  width: 90%;
  padding: 2rem 0;
}

.footer-list h4 {
  margin: 0 0 1rem 0;
}

.footer-list li {
  list-style: none;
  width: 90%;
}

.footer-list i {
  font-size: 1rem;
  margin: 0 1rem 0 0;
}

/*---TYPO---*/
@font-face {
  font-family: "shrikhand";
  src: url("../../sass/base/fonts/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("../../sass/base/fonts/Roboto-Regular.ttf");
}

/*---BASE---*/
body {
  font-family: "roboto";
}

body, section, ul, li, div, h4, h3, h2, h1, img, p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

.shrikhand {
  font-family: "shrikhand";
  font-weight: lighter;
}

/*---PLACE---*/
.sec-place {
  background-color: #eaeaea;
  padding: 1rem;
}

.sec-place__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-place__div p {
  font-weight: bold;
  margin: 0 1rem;
}

/*---EXPLORE---*/
.sec-explore {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-explore__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 180px;
  width: 90%;
  padding: 2rem 0 3rem 0;
}

.sec-explore__div h2 {
  text-align: center;
}

.sec-explore__div p {
  text-align: center;
  color: #353535;
}

.purple-button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.5rem 0rem;
          box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.5rem 0rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 2rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  padding: 1rem 1.5rem;
}

/*---FONCTIONNEMENT---*/
.sec-fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-fonction__ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 340px;
  width: 90%;
  margin: 0;
  padding: 4rem 0 5rem;
}

.sec-fonction__ol li {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.5rem 0rem;
          box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.5rem 0rem;
  list-style: none;
  counter-increment: my-awesome-counter;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.2rem;
  background-color: #f6f6f6;
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 0 0 0 .875rem;
}

.sec-fonction__ol li::before {
  display: inline-block;
  position: relative;
  left: -1.75rem;
  content: counter(my-awesome-counter);
  background-color: #9356DC;
  border-radius: 1rem;
  color: white;
  font-size: .8rem;
  text-align: center;
  line-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.sec-fonction__ol i {
  padding: 0 1.75rem 0 0;
  font-size: 1.2rem;
  color: #7e7e7e;
}

/*---RESTAURANTS---*/
.sec-rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f6f6f6;
  padding: 3rem 0;
}

.sec-rest__grid-container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sec-rest h2 {
  text-align: left;
  width: 90%;
}

.link-resto {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.5rem 0rem;
          box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0;
  height: 250px;
}

.link-resto__new {
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: .2rem;
  right: 5%;
  margin: 1rem 1rem 0 0;
  padding: .3rem 1rem;
}

.link-resto img {
  border-radius: 1rem 1rem 0 0;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.link-resto__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  height: 30%;
}

.link-resto__description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/*---HEART---*/
i {
  font-size: 1.5rem;
}

.fas.fa-heart {
  color: rgba(255, 255, 255, 0);
}

.far {
  position: relative;
  left: 1.5rem;
  z-index: 1;
  color: black;
}

.far:hover {
  color: rgba(0, 0, 0, 0);
}

.far:hover + .fas {
  color: #9c47fc;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*---FOOTER---*/
/*---La-PALETTE-DU-GOUT---*/
/*---THUMBNAIL---*/
.thumbnail {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---HEART---*/
.heart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---Menu---*/
.sec-menu {
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  margin: -3rem 0 0 0;
  padding: 3rem 0 0 0;
}

.sec-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.sec-menu__main {
  width: 90%;
  margin: 0 auto;
}

.sec-menu__footer {
  width: 90%;
  margin: 0 auto;
}

.menu-titre {
  font-weight: 100;
  text-decoration: underline;
  -webkit-text-decoration-color: #99E2D0;
          text-decoration-color: #99E2D0;
  text-underline-offset: 0.2rem;
  text-underline-position: under;
  text-decoration-thickness: 0.2rem;
  margin: 1.5rem 0;
}

/*---CARTES---*/
.menu-item {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.2rem 0.5rem 0rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.2rem 0.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0;
  height: 75px;
}

.menu-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
}

.menu-item__check {
  height: 100%;
  width: 0%;
  background-color: #99E2D0;
}

.menu-item .fa-check-circle {
  font-size: 0rem;
}

.menu-item:hover {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-item:hover .menu-item__content {
  padding: 0 1rem;
}

.menu-item:hover .menu-item__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  border-radius: 0 1rem 1rem 0;
}

.menu-item:hover .fa-check-circle {
  color: white;
  font-size: 1.5rem;
}

.menu-food {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-prix {
  font-weight: bold;
}

/*---COMMANDER/FOOTER---*/
.sec-menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

.sec-menu__footer .purple-button {
  padding: 1rem 3rem;
}
