body{
    font-family: "roboto";
}
body,section,ul,li,div,h4,h3,h2,h1,img,p{
    margin: 0;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: black;
    text-decoration: none;
}
.shrikhand{
    font-family: "shrikhand";
    font-weight:lighter;
}