@font-face {
    font-family:"shrikhand";
    src: url("../../sass/base/fonts/Shrikhand-Regular.ttf");
}
@font-face {
    font-family:"roboto";
    src: url("../../sass/base/fonts/Roboto-Regular.ttf");
}
